<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body>
    <div style="margin: 0 auto;display: block;width: 200px;">
        <table width="100%" border="1">
            <tr>
                <td colspan="2">
                    <img src="{{imageSrc}}" style="width:190px;"> 
                </td>
            </tr>
            <tr>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>{{address}}</td>
            </tr>
        </table>
    </div>
</body>
</html>