<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Card PDF</title>
</head>
<body>
    <div class="card">
        <!-- Your card content here -->
        <img src='/dossierCarte/{{cartes.Image}}' alt="{{ cartes.Titre }}">
        <p>{{ cartes.Titre }}</p>
        <p>{{ cartes.description }}</p>
        <!-- Include any other card-specific content -->
    </div>
</body>
</html>